.version.evento /* version checker */
{
	color: #0000EE;
	background-color: #233AB9;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.7942731277535px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u245
{
	z-index: 2;
	height: 1111px;
	top: 0px;
}

#u245-bw
{
	z-index: 2;
}

#pu120
{
	width: 0.01px;
	margin-left: -100px;
}

#u120_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u126
{
	z-index: 24;
	width: 149px;
	margin-bottom: -52px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 220px;
}

#u120,#u120-bw
{
	z-index: 3;
	min-height: 130px;
}

#u121
{
	z-index: 5;
	width: 37px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 406px;
}

#u121_states
{
	height: 31px;
	width: 37px;
}

#u122
{
	z-index: 9;
	width: 66px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 473px;
}

#u122_states
{
	height: 31px;
	width: 66px;
}

#u123
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 567px;
}

#u123_states
{
	height: 31px;
	width: 78px;
}

#u124
{
	z-index: 17;
	width: 43px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 673px;
}

#u124_states
{
	height: 31px;
	width: 43px;
}

#u125
{
	z-index: 21;
	width: 58px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 744px;
}

#u125_states
{
	height: 31px;
	width: 58px;
}

#u128
{
	z-index: 26;
	width: 262px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 152px;
}

#u187
{
	z-index: 28;
	width: 52px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 480px;
}

#u187_clip
{
	width: 52px;
	height: 46px;
}

#u187_img
{
	margin-right: 1px;
	margin-bottom: -11px;
}

#u190
{
	z-index: 30;
	width: 48px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 582px;
}

#u195
{
	z-index: 32;
	width: 65px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 741px;
}

#u200
{
	z-index: 34;
	width: 42px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 674px;
}

#u200_clip
{
	width: 42px;
	height: 46px;
}

#u200_img
{
	margin-bottom: -11px;
}

#u214
{
	z-index: 36;
	width: 49px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 401px;
}

#u419-4
{
	z-index: 142;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 455px;
}

#widgetu336
{
	z-index: 38;
	width: 0.01px;
	height: 610px;
	margin-left: 310px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#widgetu368
{
	z-index: 39;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu368.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u370-4
{
	z-index: 40;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu368.fld-err-st #u370-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u369-5
{
	z-index: 44;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu368.non-empty-st #u369-5
{
	background-color: #FFFFFF;
}

#widgetu368:hover #u369-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu368.focus-st #u369-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu368.non-empty-st #u369-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu368:hover #u369-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu368.focus-st #u369-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u371-5
{
	z-index: 49;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	text-align: right;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu351
{
	z-index: 54;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu351.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u354-4
{
	z-index: 55;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u353-4
{
	z-index: 59;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu351.non-empty-st #u353-4
{
	background-color: #FFFFFF;
}

#widgetu351:hover #u353-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu351.focus-st #u353-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu351.non-empty-st #u353-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu351:hover #u353-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu351.focus-st #u353-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u352-5
{
	z-index: 63;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	text-align: right;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu363
{
	z-index: 68;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu363.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u366-4
{
	z-index: 69;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u364-4
{
	z-index: 73;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu363.non-empty-st #u364-4
{
	background-color: #FFFFFF;
}

#widgetu363:hover #u364-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu363.focus-st #u364-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu363.non-empty-st #u364-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu363:hover #u364-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu363.focus-st #u364-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u365-5
{
	z-index: 77;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	text-align: right;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu347
{
	z-index: 82;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: -1px;
}

#widgetu347.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 176px -10000px 0px 0px;
}

#u350-4
{
	z-index: 83;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u349-4
{
	z-index: 87;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu347.non-empty-st #u349-4
{
	background-color: #FFFFFF;
}

#widgetu347:hover #u349-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu347.focus-st #u349-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu347.non-empty-st #u349-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu347:hover #u349-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu347.focus-st #u349-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u348-5
{
	z-index: 91;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	text-align: right;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu337
{
	z-index: 96;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: -1px;
}

#widgetu337.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 232px -10000px 0px 0px;
}

#u340-4
{
	z-index: 97;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu351.fld-err-st #u354-4,#widgetu363.fld-err-st #u366-4,#widgetu347.fld-err-st #u350-4,#widgetu337.fld-err-st #u340-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu368.fld-err-st #u370-4 p,#widgetu368.fld-err-st #u370-4 span,#widgetu351.fld-err-st #u354-4 p,#widgetu351.fld-err-st #u354-4 span,#widgetu363.fld-err-st #u366-4 p,#widgetu363.fld-err-st #u366-4 span,#widgetu347.fld-err-st #u350-4 p,#widgetu347.fld-err-st #u350-4 span,#widgetu337.fld-err-st #u340-4 p,#widgetu337.fld-err-st #u340-4 span
{
	color: #D7244C;
}

#u339-4
{
	z-index: 101;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu337.non-empty-st #u339-4
{
	background-color: #FFFFFF;
}

#widgetu337:hover #u339-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu337.focus-st #u339-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu368.fld-err-st #u369-5,#widgetu351.fld-err-st #u353-4,#widgetu363.fld-err-st #u364-4,#widgetu347.fld-err-st #u349-4,#widgetu337.fld-err-st #u339-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu337.non-empty-st #u339-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu337:hover #u339-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu337.focus-st #u339-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u338-5
{
	z-index: 105;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	text-align: right;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu368.fld-err-st #u371-5,#widgetu351.fld-err-st #u352-5,#widgetu363.fld-err-st #u365-5,#widgetu347.fld-err-st #u348-5,#widgetu337.fld-err-st #u338-5
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#widgetu368.fld-err-st #u369-5 *,#widgetu368.fld-err-st #u371-5 p,#widgetu351.fld-err-st #u353-4 *,#widgetu351.fld-err-st #u352-5 p,#widgetu363.fld-err-st #u364-4 *,#widgetu363.fld-err-st #u365-5 p,#widgetu347.fld-err-st #u349-4 *,#widgetu347.fld-err-st #u348-5 p,#widgetu337.fld-err-st #u339-4 *,#widgetu337.fld-err-st #u338-5 p
{
	color: #D7244C;
	font-style: italic;
}

#widgetu368_input,#widgetu368_prompt,#widgetu351_input,#widgetu351_prompt,#widgetu363_input,#widgetu363_prompt,#widgetu347_input,#widgetu347_prompt,#widgetu337_input,#widgetu337_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu368.focus-st #widgetu368_prompt,#widgetu351.focus-st #widgetu351_prompt,#widgetu363.focus-st #widgetu363_prompt,#widgetu347.focus-st #widgetu347_prompt,#widgetu337.focus-st #widgetu337_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu368:hover #widgetu368_input,#widgetu368.focus-st #widgetu368_input,#widgetu368.fld-err-st #widgetu368_input,#widgetu368:hover #widgetu368_prompt,#widgetu368.fld-err-st #widgetu368_prompt,#widgetu351:hover #widgetu351_input,#widgetu351.focus-st #widgetu351_input,#widgetu351.fld-err-st #widgetu351_input,#widgetu351:hover #widgetu351_prompt,#widgetu351.fld-err-st #widgetu351_prompt,#widgetu363:hover #widgetu363_input,#widgetu363.focus-st #widgetu363_input,#widgetu363.fld-err-st #widgetu363_input,#widgetu363:hover #widgetu363_prompt,#widgetu363.fld-err-st #widgetu363_prompt,#widgetu347:hover #widgetu347_input,#widgetu347.focus-st #widgetu347_input,#widgetu347.fld-err-st #widgetu347_input,#widgetu347:hover #widgetu347_prompt,#widgetu347.fld-err-st #widgetu347_prompt,#widgetu337:hover #widgetu337_input,#widgetu337.focus-st #widgetu337_input,#widgetu337.fld-err-st #widgetu337_input,#widgetu337:hover #widgetu337_prompt,#widgetu337.fld-err-st #widgetu337_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu368.non-empty-st #widgetu368_prompt,#widgetu351.non-empty-st #widgetu351_prompt,#widgetu363.non-empty-st #widgetu363_prompt,#widgetu347.non-empty-st #widgetu347_prompt,#widgetu337.non-empty-st #widgetu337_prompt
{
	visibility: hidden;
}

#u345-5
{
	z-index: 110;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 140px;
}

#widgetu336.frm-sub-st #u345-5 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u372-5
{
	z-index: 115;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 140px;
}

#widgetu336.frm-subm-err-st #u372-5 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u346-5
{
	z-index: 120;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 140px;
}

#widgetu336.frm-sub-st #u345-5,#widgetu336.frm-subm-err-st #u372-5,#widgetu336.frm-subm-ok-st #u346-5
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 30px;
}

#widgetu336.frm-subm-ok-st #u346-5 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u367-17
{
	z-index: 125;
	min-height: 33px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	left: 105px;
	background: url("../images/u367-17.png") no-repeat 0px 0px;
}

#u367-17:hover
{
	background: url("../images/u367-17-r.png") no-repeat 0px 0px;
}

#u367-17:active
{
	background: url("../images/u367-17-m.png") no-repeat 0px 0px;
}

#widgetu336.frm-sub-st #u367-17
{
	background: url("../images/u367-17-fs.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

