.version.index /* version checker */
{
	color: #000011;
	background-color: #5F0637;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.99427312775333px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u245
{
	z-index: 2;
	height: 1111px;
	top: 0px;
}

#u245-bw
{
	z-index: 2;
}

#pu120
{
	width: 0.01px;
	margin-left: -100px;
}

#u120_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u126
{
	z-index: 24;
	width: 149px;
	margin-bottom: -52px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 220px;
}

#u120,#u120-bw
{
	z-index: 3;
	min-height: 130px;
}

#u121
{
	z-index: 5;
	width: 37px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 406px;
}

#u121_states
{
	height: 31px;
	width: 37px;
}

#u122
{
	z-index: 9;
	width: 66px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 473px;
}

#u122_states
{
	height: 31px;
	width: 66px;
}

#u123
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 567px;
}

#u123_states
{
	height: 31px;
	width: 78px;
}

#u124
{
	z-index: 17;
	width: 43px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 673px;
}

#u124_states
{
	height: 31px;
	width: 43px;
}

#u125
{
	z-index: 21;
	width: 58px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 744px;
}

#u125_states
{
	height: 31px;
	width: 58px;
}

#u128
{
	z-index: 26;
	width: 262px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 152px;
}

#u187
{
	z-index: 28;
	width: 52px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 480px;
}

#u187_clip
{
	width: 52px;
	height: 46px;
}

#u187_img
{
	margin-right: 1px;
	margin-bottom: -11px;
}

#u190
{
	z-index: 30;
	width: 48px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 582px;
}

#u195
{
	z-index: 32;
	width: 65px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 741px;
}

#u200
{
	z-index: 34;
	width: 42px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 674px;
}

#u200_clip
{
	width: 42px;
	height: 46px;
}

#u200_img
{
	margin-bottom: -11px;
}

#u214
{
	z-index: 36;
	width: 49px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 401px;
}

#u232
{
	z-index: 40;
	width: 765px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 195px;
}

#u232_clip
{
	overflow: hidden;
	width: 765px;
	height: 585px;
}

#u232_img
{
	margin-bottom: -73px;
}

#u156-3
{
	z-index: 42;
	width: 882px;
	min-height: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 136px;
}

#u238
{
	z-index: 38;
	width: 852px;
	background-color: transparent;
	margin-left: 51px;
	margin-top: 26px;
	position: relative;
}

#u238_clip
{
	overflow: hidden;
	width: 852px;
	height: 508px;
}

#u238_img
{
	margin-bottom: -53px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

