.version.participante /* version checker */
{
	color: #000019;
	background-color: #8703E9;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.8442731277536px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u245
{
	z-index: 2;
	height: 1111px;
	top: 0px;
}

#u245-bw
{
	z-index: 2;
}

#pu120
{
	width: 0.01px;
	margin-left: -100px;
}

#u120_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u126
{
	z-index: 24;
	width: 149px;
	margin-bottom: -52px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 220px;
}

#u120,#u120-bw
{
	z-index: 3;
	min-height: 130px;
}

#u121
{
	z-index: 5;
	width: 37px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 406px;
}

#u121_states
{
	height: 31px;
	width: 37px;
}

#u122
{
	z-index: 9;
	width: 66px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 473px;
}

#u122_states
{
	height: 31px;
	width: 66px;
}

#u123
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 567px;
}

#u123_states
{
	height: 31px;
	width: 78px;
}

#u124
{
	z-index: 17;
	width: 43px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 673px;
}

#u124_states
{
	height: 31px;
	width: 43px;
}

#u125
{
	z-index: 21;
	width: 58px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 744px;
}

#u125_states
{
	height: 31px;
	width: 58px;
}

#u128
{
	z-index: 26;
	width: 262px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 152px;
}

#u187
{
	z-index: 28;
	width: 52px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 480px;
}

#u187_clip
{
	width: 52px;
	height: 46px;
}

#u187_img
{
	margin-right: 1px;
	margin-bottom: -11px;
}

#u190
{
	z-index: 30;
	width: 48px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 582px;
}

#u195
{
	z-index: 32;
	width: 65px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 741px;
}

#u200
{
	z-index: 34;
	width: 42px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 674px;
}

#u200_clip
{
	width: 42px;
	height: 46px;
}

#u200_img
{
	margin-bottom: -11px;
}

#u214
{
	z-index: 36;
	width: 49px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 401px;
}

#u420-4
{
	z-index: 142;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 426px;
}

#widgetu295
{
	z-index: 38;
	width: 0.01px;
	height: 610px;
	margin-left: 310px;
	margin-top: 4px;
	position: relative;
}

#widgetu327
{
	z-index: 39;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu327.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u329-4
{
	z-index: 40;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu327.fld-err-st #u329-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u328-5
{
	z-index: 44;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu327.non-empty-st #u328-5
{
	background-color: #FFFFFF;
}

#widgetu327:hover #u328-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu327.focus-st #u328-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu327.non-empty-st #u328-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu327:hover #u328-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu327.focus-st #u328-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u330-5
{
	z-index: 49;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	text-align: right;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu310
{
	z-index: 54;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu310.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u313-4
{
	z-index: 55;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u312-4
{
	z-index: 59;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu310.non-empty-st #u312-4
{
	background-color: #FFFFFF;
}

#widgetu310:hover #u312-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu310.focus-st #u312-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu310.non-empty-st #u312-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu310:hover #u312-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu310.focus-st #u312-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u311-5
{
	z-index: 63;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	text-align: right;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu322
{
	z-index: 68;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu322.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u325-4
{
	z-index: 69;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u323-4
{
	z-index: 73;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu322.non-empty-st #u323-4
{
	background-color: #FFFFFF;
}

#widgetu322:hover #u323-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu322.focus-st #u323-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu322.non-empty-st #u323-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu322:hover #u323-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu322.focus-st #u323-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u324-5
{
	z-index: 77;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	text-align: right;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu306
{
	z-index: 82;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: -1px;
}

#widgetu306.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 176px -10000px 0px 0px;
}

#u309-4
{
	z-index: 83;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u308-4
{
	z-index: 87;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu306.non-empty-st #u308-4
{
	background-color: #FFFFFF;
}

#widgetu306:hover #u308-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu306.focus-st #u308-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu306.non-empty-st #u308-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu306:hover #u308-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu306.focus-st #u308-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u307-5
{
	z-index: 91;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	text-align: right;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu296
{
	z-index: 96;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: -1px;
}

#widgetu296.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 232px -10000px 0px 0px;
}

#u299-4
{
	z-index: 97;
	width: 200px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu310.fld-err-st #u313-4,#widgetu322.fld-err-st #u325-4,#widgetu306.fld-err-st #u309-4,#widgetu296.fld-err-st #u299-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu327.fld-err-st #u329-4 p,#widgetu327.fld-err-st #u329-4 span,#widgetu310.fld-err-st #u313-4 p,#widgetu310.fld-err-st #u313-4 span,#widgetu322.fld-err-st #u325-4 p,#widgetu322.fld-err-st #u325-4 span,#widgetu306.fld-err-st #u309-4 p,#widgetu306.fld-err-st #u309-4 span,#widgetu296.fld-err-st #u299-4 p,#widgetu296.fld-err-st #u299-4 span
{
	color: #D7244C;
}

#u298-4
{
	z-index: 101;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu296.non-empty-st #u298-4
{
	background-color: #FFFFFF;
}

#widgetu296:hover #u298-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu296.focus-st #u298-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu327.fld-err-st #u328-5,#widgetu310.fld-err-st #u312-4,#widgetu322.fld-err-st #u323-4,#widgetu306.fld-err-st #u308-4,#widgetu296.fld-err-st #u298-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu296.non-empty-st #u298-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu296:hover #u298-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu296.focus-st #u298-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u297-5
{
	z-index: 105;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	text-align: right;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#widgetu327.fld-err-st #u330-5,#widgetu310.fld-err-st #u311-5,#widgetu322.fld-err-st #u324-5,#widgetu306.fld-err-st #u307-5,#widgetu296.fld-err-st #u297-5
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#widgetu327.fld-err-st #u328-5 *,#widgetu327.fld-err-st #u330-5 p,#widgetu310.fld-err-st #u312-4 *,#widgetu310.fld-err-st #u311-5 p,#widgetu322.fld-err-st #u323-4 *,#widgetu322.fld-err-st #u324-5 p,#widgetu306.fld-err-st #u308-4 *,#widgetu306.fld-err-st #u307-5 p,#widgetu296.fld-err-st #u298-4 *,#widgetu296.fld-err-st #u297-5 p
{
	color: #D7244C;
	font-style: italic;
}

#widgetu327_input,#widgetu327_prompt,#widgetu310_input,#widgetu310_prompt,#widgetu322_input,#widgetu322_prompt,#widgetu306_input,#widgetu306_prompt,#widgetu296_input,#widgetu296_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu327.focus-st #widgetu327_prompt,#widgetu310.focus-st #widgetu310_prompt,#widgetu322.focus-st #widgetu322_prompt,#widgetu306.focus-st #widgetu306_prompt,#widgetu296.focus-st #widgetu296_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu327:hover #widgetu327_input,#widgetu327.focus-st #widgetu327_input,#widgetu327.fld-err-st #widgetu327_input,#widgetu327:hover #widgetu327_prompt,#widgetu327.fld-err-st #widgetu327_prompt,#widgetu310:hover #widgetu310_input,#widgetu310.focus-st #widgetu310_input,#widgetu310.fld-err-st #widgetu310_input,#widgetu310:hover #widgetu310_prompt,#widgetu310.fld-err-st #widgetu310_prompt,#widgetu322:hover #widgetu322_input,#widgetu322.focus-st #widgetu322_input,#widgetu322.fld-err-st #widgetu322_input,#widgetu322:hover #widgetu322_prompt,#widgetu322.fld-err-st #widgetu322_prompt,#widgetu306:hover #widgetu306_input,#widgetu306.focus-st #widgetu306_input,#widgetu306.fld-err-st #widgetu306_input,#widgetu306:hover #widgetu306_prompt,#widgetu306.fld-err-st #widgetu306_prompt,#widgetu296:hover #widgetu296_input,#widgetu296.focus-st #widgetu296_input,#widgetu296.fld-err-st #widgetu296_input,#widgetu296:hover #widgetu296_prompt,#widgetu296.fld-err-st #widgetu296_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu327.non-empty-st #widgetu327_prompt,#widgetu310.non-empty-st #widgetu310_prompt,#widgetu322.non-empty-st #widgetu322_prompt,#widgetu306.non-empty-st #widgetu306_prompt,#widgetu296.non-empty-st #widgetu296_prompt
{
	visibility: hidden;
}

#u304-5
{
	z-index: 110;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 140px;
}

#widgetu295.frm-sub-st #u304-5 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u331-5
{
	z-index: 115;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 140px;
}

#widgetu295.frm-subm-err-st #u331-5 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u305-5
{
	z-index: 120;
	width: 200px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 140px;
}

#widgetu295.frm-sub-st #u304-5,#widgetu295.frm-subm-err-st #u331-5,#widgetu295.frm-subm-ok-st #u305-5
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 30px;
}

#widgetu295.frm-subm-ok-st #u305-5 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u326-17
{
	z-index: 125;
	min-height: 33px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 105px;
	background: url("../images/u326-17.png") no-repeat 0px 0px;
}

#u326-17:hover
{
	background: url("../images/u326-17-r.png") no-repeat 0px 0px;
}

#u326-17:active
{
	background: url("../images/u326-17-m.png") no-repeat 0px 0px;
}

#widgetu295.frm-sub-st #u326-17
{
	background: url("../images/u326-17-fs.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

